<form action = "/payment/results">
<div>
  <label for = "apr"> APR </label>
</div>
<div>
  <input id = "apr" placeholder = "E.g. 5.42" name = "apr">
</div>
<div>
  <label for = "num_year"> Number of years </label>
</div>
<div>
  <input id = "num_year" placeholder = "How many years to repay?" name = "num_year">
</div>
<div>
  <label for = "principal"> Principal </label>
</div>
<div>
  <input id = "principal" placeholder = "How much principal?" name = "principal">
</div>
<div>
  <button>Calculate monthly payment</button>
  </div>
</form>
